body{
    margin:0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.modal {
    display: block;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: white;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    color:#333;
}
._dash-undo-redo {
  display: none;
}

.app-title{
    transform: translate(0px, 20px);
    color:white;
    font-size:2.5rem;
    letter-spacing:-.1rem;
    vertical-align:bottom;
    align-content:center;
    height:70px;
}

.header{
    margin:0px;
    background-color:#9b0000;
    height:70px;
    color:white;
    padding-right:2%;
    padding-left:2%
}

.indicator{
    border:0px;
    border-radius: 3px;
    background-color: white;
    height:10;
    vertical-align:middle;
}

.indicator_text{
    text-align: left;
    float: top;
    font-size: 18px;
    }

.indicator_value{
    text-align:left;
    color: #2a3f5f;
    font-size: 15px;
}

.add{
    height: 34px;
    background: #c5040d;
    border: 1px solid #c5040d;
    color: white;
}


.chart_div{
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 2px;
    height: 500px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.chart_div p{
    color: #2a3f5f;
    font-size: 13px;
    text-align: center;
}

.threeD_scatter_div{
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 2px;
    height: 350px;
    margin-top: 0px;
    margin-bottom: 3px;
}


.taxa_chart_div{
    background-color: white;
    border: 1px solid #ffffff;
    border-radius: 2px;
    height: 350px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.binning_table{
    max-height: 500px;
    overflow-y: scroll;
    padding: 8rem;
    margin-top: 3px;
    background-color: #ffffff;
    border: 1px;
    border-color: #C8D4E3;
    border-radius: 3px;
}

td{
    text-align: left;
    padding: 0px;
}
table{
    border: 1px;
    font-size:1.3rem;
    width:100%;
    font-family:Ubuntu;
}

.tabs_div{
    height: 40px;
    margin:0px;
    height:0px;
    font-size:13px;
    margin-top:1px;
    background-color:#d40404;
    border: 1px solid #C8D4E3;
    border-radius: 3px;
}
